<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "cat.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Davey</h1>
		<p>This is my sample blog</p><br>
		<p>You can visit my GitHub profile here: <a href="https://github.com/dnewh">github.com/dnewh</a></p>
	</div>
</div>